<div id="welcome">
	<div id="left" class="intro">
		<h2 id="tools">Practice Tools</h2>
		<p>Access to the Practice Success Program and available marketing materials.</p>
		<p><a href="http://tools.neuronetics.com">tools.neuronetics.com</a></p>
	</div>
	<div id="right" class="intro">
		<h2 id="university">NeuroStar University</h2>
		<p>Access to Clinical Training Online, where you can learn the art and science of using NeuroStar TMS to improve your patients’ lives.</p>
		<p><a href="http://university.neuronetics.com">university.neuronetics.com</a></p>
	</div>
</div>
<p id="shopping">Visit the <a href="http://shopping.netsuite.com/neuronetics">Neuronetics Web store</a> to place SenStar orders.</p>